In [51]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
df1 = pd.read_csv("Stock_File_1.csv" )
df2 = pd.read_csv("Stock_File_2.txt", sep = "," )

In [53]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    165 non-null    object
 1   Open    161 non-null    float64
 2   High    158 non-null    float64
 3   Low     159 non-null    float64
 4   Close   158 non-null    float64
 5   Volume  165 non-null    object
dtypes: float64(4), object(2)
memory usage: 7.9+ KB

In [54]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    204 non-null    object
 1   Open    201 non-null    float64
 2   High    195 non-null    float64
 3   Low     197 non-null    float64
 4   Close   197 non-null    float64
 5   Volume  204 non-null    object
dtypes: float64(4), object(2)
memory usage: 9.7+ KB

In [55]:
len(np.unique(df1['Date']))

165

In [56]:
len(np.unique(df2['Date']))

204

In [57]:
df1.duplicated(subset=['Date'], keep = False)

0      False
1      False
2      False
3      False
4      False
       ...
160    False
161    False
162    False
163    False
164    False
Length: 165, dtype: bool

In [58]:
df1[df1.duplicated(subset=['Date'], keep = False)]

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []

In [59]:
df2[df2.duplicated(subset=['Date'], keep = False)]

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []

In [60]:
df1['Date'].equals(df2['Date'])

False

In [65]:
stock = pd.merge(df1, df2, on = 'Date', how = 'outer')

In [66]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      369 non-null    object
 1   Open_x    161 non-null    float64
 2   High_x    158 non-null    float64
 3   Low_x     159 non-null    float64
 4   Close_x   158 non-null    float64
 5   Volume_x  165 non-null    object
 6   Open_y    201 non-null    float64
 7   High_y    195 non-null    float64
 8   Low_y     197 non-null    float64
 9   Close_y   197 non-null    float64
 10  Volume_y  204 non-null    object
dtypes: float64(8), object(3)
memory usage: 31.8+ KB

In [67]:
stock.describe()

,Open_x,High_x,Low_x,Close_x,Open_y,High_y,Low_y,Close_y
count,161.000000,158.000000,159.000000,158.000000,201.000000,195.000000,197.000000,197.000000
mean,846.829317,808.525253,810.990000,819.263481,925.104975,899.703641,892.973858,905.464213
std,295.961500,269.669343,270.408865,272.956317,295.739605,274.639593,263.678769,264.815889
min,364.000000,366.000000,354.000000,363.600000,455.000000,366.200000,450.900000,453.900000
25%,700.040000,642.500000,676.100000,686.075000,702.100000,687.150000,682.900000,690.350000
50%,794.000000,782.250000,772.000000,781.815000,840.000000,825.950000,820.500000,835.950000
75%,922.000000,898.750000,893.000000,891.025000,1165.550000,1137.000000,1142.000000,1148.650000
max,1755.800000,1650.000000,1600.050000,1607.850000,2291.950000,1445.000000,1405.100000,1414.850000

In [68]:
stock1 = stock.copy()

In [ ]:
stock1["Volume_x"].unique()

TypeError: '<' not supported between instances of 'float' and 'str'

In [77]:
stock1["Date"].unique()

array(['1-Apr-08', '1-Apr-09', '1-Apr-10', '1-Apr-11', '1-Apr-13',
       '1-Apr-14', '1-Apr-15', '1-Apr-16', '1-Aug-06', '1-Aug-07',
       '1-Aug-08', '1-Aug-11', '1-Aug-12', '1-Aug-13', '1-Aug-14',
       '1-Aug-16', '1-Dec-06', '1-Dec-08', '1-Dec-09', '1-Dec-10',
       '1-Dec-11', '1-Dec-14', '1-Dec-15', '1-Feb-07', '1-Feb-08',
       '1-Feb-10', '1-Feb-11', '1-Feb-12', '1-Feb-13', '1-Feb-16',
       '1-Jan-08', '1-Jan-09', '1-Jan-10', '1-Jan-13', '1-Jan-14',
       '1-Jan-15', '1-Jan-16', '1-Jul-08', '1-Jul-09', '1-Jul-10',
       '1-Jul-11', '1-Jul-13', '1-Jul-14', '1-Jul-15', '1-Jul-16',
       '1-Jun-06', '1-Jun-07', '1-Jun-09', '1-Jun-10', '1-Jun-11',
       '1-Jun-12', '1-Jun-15', '1-Jun-16', '1-Mar-07', '1-Mar-11',
       '1-Mar-12', '1-Mar-13', '1-Mar-16', '1-May-09', '1-May-12',
       '1-May-13', '1-May-14', '1-May-15', '1-Nov-06', '1-Nov-07',
       '1-Nov-10', '1-Nov-11', '1-Nov-12', '1-Nov-13', '1-Oct-07',
       '1-Oct-08', '1-Oct-09', '1-Oct-10', '1-Oct-12', '1-Oct-13',
       '1-Oct-14', '1-Oct-15', '1-Sep-06', '1-Sep-08', '1-Sep-09',
       '1-Sep-10', '1-Sep-14', '1-Sep-15', '10-Apr-09', '10-Apr-15',
       '10-Aug-07', '10-Aug-12', '10-Dec-10', '10-Feb-12', '10-Jan-14',
       '10-Jul-09', '10-Jul-15', '10-Jun-11', '10-Jun-16', '10-May-13',
       '10-Nov-06', '10-Oct-08', '10-Oct-14', '11-Apr-08', '11-Apr-11',
       '11-Apr-13', '11-Apr-14', '11-Apr-16', '11-Aug-06', '11-Aug-08',
       '11-Aug-11', '11-Aug-14', '11-Aug-16', '11-Dec-06', '11-Dec-08',
       '11-Dec-09', '11-Dec-14', '11-Dec-15', '11-Feb-10', '11-Feb-11',
       '11-Feb-13', '11-Jan-08', '11-Jan-10', '11-Jan-13', '11-Jan-16',
       '11-Jul-08', '11-Jul-11', '11-Jul-13', '11-Jul-14', '11-Jul-16',
       '11-Jun-07', '11-Jun-09', '11-Jun-10', '11-Jun-12', '11-Jun-15',
       '11-Mar-11', '11-Mar-13', '11-Mar-16', '11-May-09', '11-May-12',
       '11-May-15', '11-Nov-10', '11-Nov-11', '11-Nov-13', '11-Oct-07',
       '11-Oct-10', '11-Oct-12', '11-Oct-13', '11-Sep-06', '11-Sep-08',
       '11-Sep-09', '11-Sep-14', '11-Sep-15', '12-Apr-07', '12-Apr-10',
       '12-Apr-12', '12-Aug-10', '12-Aug-13', '12-Dec-11', '12-Dec-13',
       '12-Feb-07', '12-Feb-08', '12-Feb-09', '12-Feb-15', '12-Feb-16',
       '12-Jan-07', '12-Jan-09', '12-Jan-12', '12-Jan-15', '12-Jul-07',
       '12-Jul-10', '12-Jul-12', '12-Jun-06', '12-Jun-08', '12-Jun-14',
       '12-Mar-07', '12-Mar-09', '12-Mar-10', '12-Mar-12', '12-Mar-15',
       '12-May-08', '12-May-11', '12-May-14', '12-May-16', '12-Nov-07',
       '12-Nov-09', '12-Nov-12', '12-Nov-15', '12-Oct-09', '12-Oct-15',
       '12-Sep-11', '12-Sep-13', '13-Aug-09', '13-Aug-15', '13-Dec-07',
       '13-Dec-12', '13-Feb-14', '13-Jan-11', '13-Jul-06', '13-Jun-13',
       '13-Mar-08', '13-Mar-14', '13-May-10', '13-Nov-14', '13-Oct-06',
       '13-Oct-11', '13-Sep-07', '13-Sep-12', '14-May-07', '14-Nov-08',
       '2-Apr-07', '2-Apr-12', '2-Aug-10', '2-Dec-13', '2-Feb-09',
       '2-Feb-15', '2-Jan-07', '2-Jan-12', '2-Jul-07', '2-Jul-12',
       '2-Jun-08', '2-Jun-14', '2-Mar-09', '2-Mar-10', '2-Mar-15',
       '2-May-08', '2-May-11', '2-May-16', '2-Nov-09', '2-Nov-15',
       '2-Sep-11', '2-Sep-13', '20-Feb-09', '21-Apr-08', '21-Apr-09',
       '21-Apr-10', '21-Apr-11', '21-Apr-14', '21-Apr-15', '21-Apr-16',
       '21-Aug-06', '21-Aug-07', '21-Aug-08', '21-Aug-12', '21-Aug-13',
       '21-Aug-14', '21-Dec-06', '21-Dec-09', '21-Dec-10', '21-Dec-15',
       '21-Feb-07', '21-Feb-11', '21-Feb-12', '21-Feb-13', '21-Jan-08',
       '21-Jan-09', '21-Jan-10', '21-Jan-13', '21-Jan-14', '21-Jan-15',
       '21-Jan-16', '21-Jul-08', '21-Jul-09', '21-Jul-10', '21-Jul-11',
       '21-Jul-14', '21-Jul-15', '21-Jul-16', '21-Jun-07', '21-Jun-10',
       '21-Jun-11', '21-Jun-12', '21-Jun-16', '21-Mar-11', '21-Mar-13',
       '21-Mar-16', '21-May-09', '21-May-12', '21-May-13', '21-May-14',
       '21-May-15', '21-Nov-06', '21-Nov-11', '21-Nov-12', '21-Nov-13',
       '21-Oct-08', '21-Oct-09', '21-Oct-10', '21-Oct-13', '21-Oct-14',
       '21-Sep-06', '21-Sep-09', '21-Sep-10', '21-Sep-15', '22-Apr-13',
       '22-Aug-11', '22-Aug-16', '22-Dec-08', '22-Dec-11', '22-Dec-14',
       '22-Feb-08', '22-Feb-10', '22-Feb-16', '22-Jan-07', '22-Jul-13',
       '22-Jun-06', '22-Jun-09', '22-Jun-15', '22-Mar-07', '22-Mar-10',
       '22-Mar-12', '22-May-08', '22-Nov-07', '22-Nov-10', '22-Oct-07',
       '22-Oct-12', '22-Oct-15', '22-Sep-08', '22-Sep-11', '22-Sep-14',
       '23-Apr-07', '23-Apr-12', '23-Aug-10', '23-Dec-13', '23-Feb-15',
       '23-Jan-12', '23-Jul-07', '23-Jul-12', '23-Jun-08', '23-Jun-14',
       '23-Mar-09', '23-Mar-15', '23-May-07', '23-May-11', '23-May-16',
       '23-Nov-09', '23-Nov-15', '23-Oct-06', '23-Sep-13', '24-Aug-09',
       '24-Aug-15', '24-Dec-07', '24-Dec-12', '24-Feb-14', '24-Jan-11',
       '24-Jul-06', '24-Jun-13', '24-Mar-08', '24-Mar-14', '24-May-10',
       '24-Nov-08', '24-Nov-14', '24-Oct-11', '24-Sep-07', '24-Sep-12',
       '3-Aug-09', '3-Aug-15', '3-Dec-07', '3-Dec-12', '3-Feb-14',
       '3-Jan-11', '3-Jul-06', '3-Jun-13', '3-Mar-08', '3-Mar-14',
       '3-May-07', '3-May-10', '3-Nov-08', '3-Nov-14', '3-Oct-06',
       '3-Oct-11', '3-Sep-07', '3-Sep-12', '9-Sep-10'], dtype=object)

In [78]:
categorical_data= stock1.select_dtypes(include=['object']).copy()

In [79]:
categorical_data.columns

Index(['Date', 'Volume_x', 'Volume_y'], dtype='object')

In [81]:
categorical_data['Volume_x'].value_counts()

Volume_x
zero      5
48800     3
30200     3
6200      2
19400     2
         ..
11100     1
126900    1
67200     1
165800    1
5100      1
Name: count, Length: 152, dtype: int64

In [82]:
categorical_data['Volume_y'].value_counts()

Volume_y
zero     6
3900     6
4600     6
4800     6
6100     4
        ..
10500    1
17600    1
47900    1
99900    1
10700    1
Name: count, Length: 131, dtype: int64

In [83]:
categorical_data.value_counts()

Series([], Name: count, dtype: int64)

In [84]:
import re

In [85]:
date = '^(0[1-9]|1[0-2])/(0[1-9]|[12][0-9]|3[01])/[0-9]{4}'

In [86]:
p = re.compile(date)

In [87]:
type(p)

re.Pattern

In [91]:
for i, (name, df) in enumerate([("Dataset 1", df1), ("Dataset 2", df2)], 1):
     print(f"\n{name} Quality Issues:")
     print(f"  Missing values: {df.isnull().sum().sum()}")
     print(f"  'NA' string values: {(df == 'NA').sum().sum()}")
     print(f"  'zero' string values: {(df == 'zero').sum().sum()}")
     print(f"  Duplicate rows: {df.duplicated().sum()}")

Dataset 1 Quality Issues:
  Missing values: 24
  'NA' string values: 0
  'zero' string values: 5
  Duplicate rows: 0

Dataset 2 Quality Issues:
  Missing values: 26
  'NA' string values: 0
  'zero' string values: 6
  Duplicate rows: 0

In [103]:
stock2 = pd.concat([df1,df2],ignore_index=True)

In [104]:
stock2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    369 non-null    object
 1   Open    362 non-null    float64
 2   High    353 non-null    float64
 3   Low     356 non-null    float64
 4   Close   355 non-null    float64
 5   Volume  369 non-null    object
dtypes: float64(4), object(2)
memory usage: 17.4+ KB

In [110]:
l = stock2.copy()

In [111]:
l['Date'] = pd.to_datetime(l['Date'], format='%d-%b-%y')

In [112]:
l['Date']

0     2006-06-01
1     2006-06-12
2     2006-06-22
3     2006-07-03
4     2006-07-13
         ...
364   2016-07-11
365   2016-07-21
366   2016-08-01
367   2016-08-11
368   2016-08-22
Name: Date, Length: 369, dtype: datetime64[ns]

In [113]:
invalid_dates = l['Date'].isnull().sum()
invalid_dates

np.int64(0)

In [114]:
df_sorted_asc = df.sort_values(by='Date', ascending=True)

In [115]:
l

          Date     Open     High      Low    Close Volume
0   2006-06-01   471.60   474.00   442.00   444.42  21900
1   2006-06-12   454.00   464.00   440.00   446.17   8400
2   2006-06-22   451.16   464.20   447.60   460.26  19400
3   2006-07-03   495.10   509.68   493.00   498.97   9100
4   2006-07-13   518.00   526.40   517.00   521.66   6800
..         ...      ...      ...      ...      ...    ...
364 2016-07-11  1265.50  1287.00      NaN  1276.40  11800
365 2016-07-21  1301.00  1322.10  1261.00  1270.55  36800
366 2016-08-01  1279.65      NaN  1247.40  1250.65   4600
367 2016-08-11  1180.05   683.00  1171.15  1191.35   4800
368 2016-08-22  1168.20  1168.20  1148.40  1155.55   2600

[369 rows x 6 columns]

In [127]:
l["High"] = l["High"].fillna(l["High"].mean())
l["Low"] = l["Low"].fillna(l["Low"].mean())
l["Open"] = l["Open"].fillna(l["Open"].mean())
l["Close"] = l["Close"].fillna(l["Close"].mean())
# l["Volume"] = l["Volume"].fillna(l["Volume"].mean())

l['High'].isnull().sum()
l['Low'].isnull().sum()
l['Open'].isnull().sum()
l['Close'].isnull().sum()

np.int64(0)